#header {
    position:relative;
    background: #F1F3FF;
}
.embil {
    position: relative;
}
    .box{
        position: relative;
        left: 40px;
        top:-1px;
    }
    .h6 {
        position: absolute;
        top: 30px;
        left:3px;
    
    }
    .si{
     position: relative;
     left:1px;
     top: 12px;
    
    }
    .down {
        position: relative;
        left: 19px;
        top:5px;
    }
    #kotak {
        position: relative;
        width: 1130px;
        height: 130 px;
        left:-10px;
        top:40px;
}
.si{
    position: relative;
    left:2px;
    top: 12px;
   
   }
   .ls {
    position: relative;
    left: -9px;
    top:3px;
}
.di {
    position: relative;
    left:20px;
    top:-17px;

}
.ko2 {
    position: relative;
    width: 1130px;
    height: 130 px;
    left:-10px;
    top:40px;
}
.lani {
    position: relative;
    left: 520px;
    top:500px;
}
.ces {
    position: relative;
    left:-25px;
}
.ul {
    font-family: 'Helvetica';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 175%;

color: #8A8A8A;
}