#header {
    position:relative;
    background: #F1F3FF;
}



.box{
    position: relative;
    left: 40px;
    top:-1px;
}
.h6 {
    position: absolute;
    top: 30px;
    left:3px;

}
.si{
 position: relative;
 left:1px;
 top: 12px;

}
.down {
    position: relative;
    left: 19px;
    top:5px;
}
#kotak {
    position: relative;
    width: 1130px;
    height: 130 px;
    left:-10px;
    top:40px;
}
.ls {
    position: relative;
    left: -9px;
    top:3px;
}
.di {
    position: relative;
    left:20px;
    top:-17px;

}
.but{
 position:relative;
 top:-25px;
}
.bagi {
    position: relative;
    left:80px;
    width: 200px;
}