html,body{
    font-family: 'helvetica';
    font-style:normal;
    width: 1440px;
    height: 500px;
}
#header {
    background: #F1F3FF;
    width: 1300px;
    height: 469px;
    left: 500px;
    top: 10px;

}
.mobil{
    position: relative;
    width: 600px;
    height: 407px;
    left:460px;
    top: -70px;
}
.judul1{
    
position: absolute;
width: 568px;
height: 108px;
left: 70px;
top: 140px;

font-family: 'Helvetica';
font-weight: 700;
font-size: 34px;
line-height: 150%;


color: #000000;
}
.paragrap1{
    position: absolute;
width: 468px;
height:108px;
left: 70px;
top: 245px;

font-family: 'Helvetica';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 20px;
color: #000000;
}
.orang{
    position: relative;
    width: 300px;
    height:200x;
    left: 280px;
    top: 0px;
    
}
.judul2{
    position: absolute;
width: 500px;
height: 400px;
left:   720px;
top: 550px;
font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
}
.paragrap2 {
    position: absolute;
    width: 520px;
    height: 50px;
    left:   720px;
    top: 630px;

font-family: 'Helvetica';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 20px;
}
.satu{
    position:relative;
    width: 300px;
    height:27px;
    left: 670px;
    top: -210px;
}
.dus{
    position:relative;
    width: 300px;
    height:25px;
    left: -180px;
    top: 25px;

}
.bagus{
    position:relative;
    width: 35px;
    height: 35px;
    left: 20px;
    top: -5px;
}    


.potongan{
    position:relative;
    width: 32px;
    height: 32px;
    left: 20px;
    top: -5px;

}

.waktu {
    position: relative;
width: 32px;
height: 30px;
left: 20px;
top: -5px;

}
.paragrap5{
    width: 220px;
height: 60px;
top: 30px;

font-family: 'Helvetica';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 20px;
}
.mendali{
    
position: relative;
width: 17%;
height: 30px;
left: 20px;
top:-5px;
}

.a{

font-family: 'Helvetica';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 20px;
color: #000000;

flex: none;
order: 1;
flex-grow: 0;
}
.b{
font-family: 'Helvetica';
font-style: normal;
font-weight: 200;
font-size: 14px;
line-height: 20px;
color: #000000;
flex: none;
order: 1;
flex-grow: 0;
}
.c {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.lokasi {
    position: absolute;
width: 613px;
height: 5px;
left: 406px;
top: 2055px;
font-size: 30px;

}
.da {
    position: absolute;
width: 468px;
height: 40px;
left: 478px;
top: 2112px;
}
.bg {
    position:relative;
width: 1168px;
height: 326px;
left: 136px;
top: 2078px;
background: #0D28A6;
border-radius: 13px;
}
.posisi {
    position: relative;
    top:10000000000000px;
}
