#header {
    position: absolut;
    background: #F1F3FF;
    width: 1300px;
    height: 469px;
    left: 500px;
    top: 10px;

}
.mobil{
    position: relative;
    width: 600px;
    height: 407px;
    left:614px;
    top: -70px;
}
.judul1 {
    position: absolute;
width: 568px;
height: 108px;
left: 70px;
top: 140px;

font-family: 'Helvetica';
font-weight: 700;
font-size: 34px;
line-height: 150%;


color: #000000;
}
.paragrap1{
    position: absolute;
width: 468px;
height:108px;
left: 70px;
top: 245px;

font-family: 'Helvetica';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 20px;
color: #000000;
}
.ls {
    position: relative;
    left: 2px;
    top:3px;
}
.box{
    position: relative;
    left: 40px;
    top:-1px;
}
.si{
 position: relative;
 left:6px;
 top: 12px;

}
.down {
    position: relative;
    left: 3px;
    top:5px;
}
#kotak {
    position: relative;
    width: 1100px;
    height: 100px;
    left:-1px;
    top:-50px;
}   